.page-ammo .tabs li.active {
  display: inline-block;
  background-color: #000;
  color: #fff;
}

.page-ammo .tabs li.active a {
  background-color: #000;
  color: #fff;
}

div.ammo-content {
  max-width: 960px;
  margin: 0px auto;
}
