.page-ammo .tabs li.active {
  display: inline-block;
  background-color: #000;
  color: #fff;
}

.page-ammo .tabs li.active a {
  background-color: #000;
  color: #fff;
}

div.ammo-content {
  max-width: 960px;
  margin: 0px auto;
}

.page-ammo .primary-content ul {
  list-style: none;
  padding-left: 1em;
}

.page-ammo .primary-content ul.first {
  padding-left: 0;
}

.page-ammo .primary-content ul.ammo-list {
  padding-left: 0;
}

ul.ammo-list li {
  display: inline-block;
  margin: 0 .5em 0 0;
}

.page-ammo ul.ammo-list li a {
  text-decoration: none;
  font-size: .8em;
  background-color: #EC1B23;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  color: #fff;
  cursor: pointer;
  font-family: "HelveticaInseratLTPro", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 2px 6px;
}

ul.ammo-list li a:hover {
  background-color: #000;
}

li.withdrawn,
li.invalid {
  background-color: #eee;
  color: #888;
}

li.ammo-element {
  padding: 1em;
}

.page-ammo a, .page-ammo a:link, .page-ammo a:visited {
  color: #f00000;
}


/* Overviews */

.page-ammo .navigation .amendments {
  padding: 0;
  margin: 0;
}

.page-ammo .navigation a {
  text-decoration: none;
}

.navigation .amendments li,
.navigation .motions li {
  display: inline-block;
  background: #eee;
  font-weight: bold;
  font-size: .8em;
  padding: 0;
  margin: 0 4px 10px 0;
}

.navigation .amendments li a,
.navigation .motions li a {
  display: inline-block;
  padding: .4em .72em;
  text-decoration: none;
  margin: 0;
  text-align: center;
  min-width: 54px;
}

.navigation .amendments li a:hover,
.navigation .motions li a:hover {
  background: #000;
  color: #fff;
}

a.text-limit-toggle,
a.text-limit-toggle:visited,
a.text-limit-toggle:link {
	text-decoration: none;
	color: #f00;
	white-space: nowrap;
}


.withdrawn a.text-limit-toggle,
.withdrawn a.text-limit-toggle:visited,
.withdrawn a.text-limit-toggle:link {
	text-decoration: none;
	color: #aaa;
}

h4.inline-title {
  float: left;
  margin: 0;
  padding-right: .4em;
  font-family: HelveticaNeueLTStd-BdCn, 'Sans serif';
  font-weight: normal;
}

.page-ammo .page-nr {
  font-family: HelveticaNeueLTStd-BdCn, 'Sans serif';
  font-weight: normal;
  text-transform: none;
  margin: 0;
  color: #aaa;
  border-bottom: 1px solid #aaa;
  padding:.72em;
  font-size: .72em;
}

.page-ammo-amendments ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Float the list items side by side */
.page-ammo-amendments ul.tab li {
  float: left;
}

.page-ammo-amendments .chapters li.chapter {
  padding-bottom: 0px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;
}

.page-ammo-amendments ul.tab li a,
.page-ammo-amendments ul.tab li span {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
.page-ammo-amendments ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
.page-ammo-amendments ul.tab li a:focus,
.page-ammo-amendments ul.tab li a.active {
  background-color: #ccc;
}

/* Style the tab content */
.page-ammo-amendments .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.page-ammo-amendments .tabcontent.active {
	display: block;
}

.page-ammo td {
  padding: 0 1em 0 0;
}
